@charset "utf-8";
#tblApplication td {
	font-size: 13px;
	padding: 1%;
	font-weight: normal;
	width: 98%;
	margin: 1%;
}
#tblApplication th{
	font-size: 12px;
	text-align: left;
	width: 160px;
}
#frmApplication {
	padding: 1%;
	width: 94%;
	border: 1px solid #999999;
	margin: 2%;
}
#tblApplication {
	width: 100%;
}
#frmApplication input , #frmRegister input , #frmLogin input{
	width: 95%;
	padding: 1%;
}
#frmApplication #btnSubmit {
	color: #FFFFFF;
	background-color: #AC3556;
	border-color: #AC3556;
	border-radius: 8px;
	padding: 1%;
	width: 80%;
	display: block;
	font-size: 16px;
	border-width: 1px;
}
#frmSubmit #btnSubmit {
	color: #FFFFFF;
	background-color: #AC3556;
	border-color: #AC3556;
	border-radius: 8px;
	padding: 1%;
	width: 80%;
	display: block;
	font-size: 16px;
	border-width: 1px;
}

#frmApplication .radioButton {
	width: 16px;
}
.rb16 {
	width: 16px;
	height: 16px;
}

.normal {
	font-weight: normal;
}
#tblApplication .rowHeader{
	width: 90%;
	background-color: #E8E8E8;
	font-size: 16px;
	line-height: 28px;
	font-weight: bold;
}
#frmApplication .input100 {
	width: 100px;
}
#frmApplication textarea , #frmApplication #tblApplication tr th #reasonapply{
	width: 100%;
}
#frmApplication li {
	font-size: 14px;
	line-height: 18px;
	margin-top: 4px;
}

.normalText {
	font-size: 75%;
	font-weight: normal;
}
.allCaps {
	text-transform: uppercase;
}
.highlighted {
	background-color: #FFFF66;
}
.textAreaLong {
	height: 200px;
}
fieldset {
	padding: 2%;
	width: 94%;
	border: 1px solid #999999;
	background-color: #CCCCCC;
	margin-top: 5%;
	margin-right: 1%;
	margin-bottom: 5%;
	margin-left: 1%;
}
.btnSave {
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #99CC33;
}

fieldset .doc  {
	font-size: 12px;
	display: block;
	margin-top: 3px;
	margin-bottom: 0px;
	width: 100%;
}

#doctypeid {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}
legend {
	font-size: 12px;
	font-weight: bold;
	background-color: #999999;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
	color: #FFFFFF;
}
.terms {
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #999999;
	padding-top: 5px;
	padding-right: 2%;
	padding-bottom: 5px;
	padding-left: 2%;
	width: 96%;
	font-size: 12px;
	font-weight: bold;
}
.alert {
	text-transform: none;
	color: #FFFFFF;
	background-color: #999999;
	width: 96%;
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	display: block;
}
.alertRed {
	text-transform: none;
	color: #FFFFFF;
	background-color: #FF0000;
	width: 96%;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	display: block;
	margin-bottom: 5px;
}


.input100pc {
	width: 100%;
}
#frmApplication .input20{
	width: 30px;
	margin: 5px;
}

.docDelete {
	display: inline-block;
	float: right;
	color: #FF0000;
	font-size: 10px;
}
#docList li {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #999999;
	float: left;
	width: 100%;
	margin-top: 5px;
}
#frmReview #btnReview {
	font-size: 18px;
	padding: 5px;
}
.hoursLabel {
	display: inline-block;
	width: 220px;
	float: left;
	margin-top: 5px;
}
#frmNotes #btnNoteUpdate {
	font-size: 10px;
}
#frmNotes #notes {
	width: 100%;
}
.textAreaWide {
	width: 100%;
}
.whenfulfil {
	left: -5000px;
	position: absolute;
}
#tblApplication tr th #orgapp{
	width: 24px;
}
