@charset "utf-8";
/* CSS Document */
	.TESTcpYearNavigation,
	.TESTcpMonthNavigation
			{
	background-color:#CCCCCC;
	text-align:center;
	vertical-align:center;
	text-decoration:none;
	color:#000000;
	font-weight:normal;
	text-transform: uppercase;
	font-size: 10px;
			}
	.TESTcpDayColumnHeader,
	.TESTcpCurrentMonthDate,
	.TESTcpCurrentMonthDateDisabled,
	.TESTcpOtherMonthDate,
	.TESTcpOtherMonthDateDisabled,
	.TESTcpCurrentDate,
	.TESTcpCurrentDateDisabled,
	.TESTcpTodayText,
	.TESTcpTodayTextDisabled,
	.TESTcpText
			{
	font-family:arial;
	font-size:10px;
			}
	.TESTcpYearNavigation,
	.TESTcpMonthNavigation
			{
	font-family:arial;
	font-size:10px;
	padding-top: 1px;
	padding-bottom: 1px;
			}
	TD.TESTcpDayColumnHeader
			{
	text-align:right;
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1;
	border-left-width: 0;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #6677DD;
	border-right-color: #6677DD;
	border-bottom-color: #6677DD;
	border-left-color: #6677DD;
			}
	.TESTcpCurrentMonthDate,
	.TESTcpOtherMonthDate,
	.TESTcpCurrentDate
			{
			text-align:right;
			text-decoration:none;
			}
	.TESTcpCurrentMonthDateDisabled,
	.TESTcpOtherMonthDateDisabled,
	.TESTcpCurrentDateDisabled
			{
			color:#D0D0D0;
			text-align:right;
			}
	.TESTcpCurrentMonthDate
			{
	color:#900033;
	font-weight:bold;
			}
	.TESTcpCurrentDate
			{
	color: #000000;
	font-weight:bold;
			}
	.TESTcpOtherMonthDate
			{
			color:#808080;
			}
	TD.TESTcpCurrentDate
			{
	color:#CCCCCC;
	background-color: #CCCCCC;
			}
	TD.TESTcpCurrentDateDisabled
			{
			border-width:1;
			border:solid thin #FFAAAA;
			}
	TD.TESTcpTodayText,
	TD.TESTcpTodayTextDisabled
			{
			}
	A.TESTcpTodayText,
	SPAN.TESTcpTodayTextDisabled
			{
			height:20px;
			}
	A.TESTcpTodayText
			{
			color:#3D7BB8;
			font-weight:bold;
			}
	SPAN.TESTcpTodayTextDisabled
			{
			color:#FFFFFF;
			}
	.TESTcpBorder
			{
	border:thin solid #B9BABD;
			}
