@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	padding: 0px;
	background-color: #999999;
	color: #333333;
	margin: 0px;
}
#outerWrapper {
	margin-right: auto;
	margin-left: auto;
	width: 992px;
}
#wrapper {
	width: 992px;
	float: left;
	background-color: #FFFFFF;
	padding: 0px;
}
#mainContainer {
	clear: both;
	width: 992px;
	float: left;
}
#topContainer {
	float: left;
	width: 993px;
	background-color: #C8D0CA;
}
h1 {
	color: #AC3556;
	font-size: 2.4em;
	font-weight: normal;
	padding-top: 8px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	margin: 0px;
}
#colLeft p {
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 1.3em;
	line-height: 1.5em;
}
#colLeft li {
	font-size: 1.2em;
	line-height: 1.6em;
}
#colLeft ul {
	margin-right: 0px;
	padding-right: 10px;
	margin-left: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
#mainContainer #topContainer #colLeft {
	float: left;
	width: 530px;
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px;
	background-image: url(../images/bg-top-container-leftcol.gif);
	background-repeat: no-repeat;
	height: 200px;
}
#footer  #bottomContainer {
	clear: both;
	margin-top: 0px;
	float: left;
	width: 750px;
	color: #333333;
	margin-left: 22px;
	margin-bottom: 3px;
}
#footer  #bottomContainer  a {
	display: inline;
	color: #333333;
}
#mainContainer #topContainer #colRight {
	float: right;
	width: 390px;
	margin-top: 20px;
	margin-right: 10px;
	background-image: url(../images/bg-carousel.gif);
	background-repeat: no-repeat;
}
#footer #logo {
	float: left;
}
#header {
	float: left;
	width: 993px;
	height: 74px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}
a {
	color: #AC3556;
}
a:hover  {
	text-decoration: none;
}
h3 {
	color: #AC3556;
	margin: 0px;
	padding: 0px;
	font-size: 1.2em;
}
.carousel p {
	margin: 0px;
	padding: 0px;
}
#logoContainer {
	float: left;
	margin: 10px;
}
#logoContainer img {
	float: left;
	padding-left: 8px;
}
#topNavbar {
	float: right;
	font-size: 1.2em;
	margin-top: 10px;
	margin-right: 20px;
}
#topNavbar a {
	color: #AC3556;
	text-decoration: none;
}
#searchContainer {
	clear: right;
	float: right;
	margin-top: 12px;
	width: 300px;
	text-align: right;
	margin-right: 20px;
}
#titleContainer {
	float: left;
	width: 450px;
	margin-left: 25px;
	font-size: 2em;
	margin-top: 5px;
}
#tagline {
	font-size: 0.6em;
	float: left;
	color: #AC3556;
	margin-top: 4px;
	text-align: center;
	display: block;
	width: 404px;
}
.carousel li {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin: 0px;
}
#buttonContainer {
	background-color: #FFFFFF;
	width: 380px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
#mainContainer #teasers {
	clear: both;
	float: left;
	width: 973px;
	background-color: #C8D0CA;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
}
#teasers ul {
	list-style-type: none;
	height: 110px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 20px;
	padding-left: 11px;
	background-image: url(../images/bg-teasers.gif);
	background-repeat: no-repeat;
}
#teasers li {
	display: block;
	float: left;
	width: 178px;
	height: 110px;
	margin-right: 10px;
	padding-top: 5px;
}
#buttonContainer .prev {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #AC3556;
}
#buttonContainer .next {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	color: #AC3556;
}
#mainContainer #footer {
	clear: both;
	float: left;
	width: 993px;
	background-color: #FFFFFF;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
}
#btnSearch {
	color: #AC3556;
	background-color: #FFFFFF;
	border: 1px solid #AC3556;
}
#footerText {
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 22px;
	height: 24px;
}
#footerText #logo {
	width: 80px;
}
#footerText ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#footerText  .linkList {
	float: right;
	margin-left: 23px;
	width: 138px;
}
#footerText  a  {
	display: block;
	color: #333333;
	text-decoration: none;
	line-height: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
}
#footerText #social {
	float: left;
	width: 200px;
}
#footerText #social a .fb {
	float: left;
	margin-right: 20px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

#footerText .twitter-follow-button  {
	float: left;
	display: inline-block;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-bottom: 5px;
}


#footerText a:hover {
	text-decoration: underline;
}
#footerText ul {
	margin-bottom: 10px;
}
#footerText  .linkList  .main {
	color: #AC3556;
	font-weight: bold;
}
#footerText  #copyright {
	float: left;
}
#footerText .homeList {
	float: left;
	margin-left: 20px;
}
#outerWrapper #mainContainer #footer #footerText #social a {
	display: inline;
	margin-right: 10px;
}
