@charset "utf-8";
/* CSS Document */

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	padding: 0px;
	background-color: #999999;
	color: #333333;
	margin: 0px;
}
#outerWrapper {
	margin-right: auto;
	margin-left: auto;
	width: 992px;
}
#wrapper {
	width: 992px;
	float: left;
	background-color: #FFFFFF;
	padding: 0px;
}
#mainContainer {
	clear: both;
	width: 992px;
	float: left;
}
#topContainer {
	float: left;
	width: 993px;
	background-color: #C8D0CA;
	padding-bottom: 20px;
}
h1 {
	color: #AC3556;
	font-size: 2.4em;
	font-weight: normal;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	margin: 0px;
}
h2 {
	color: #AC3556;
	font-size: 1.8em;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin: 0px;
}

h3 {
	color: #AC3556;
	padding: 0px;
	font-size: 1.4em;
	margin: 0px;
}


#rightSidebar  a {
	line-height: 1.2em;
	margin-top: 0px;
	margin-bottom: 10px;
	text-decoration: none;
}

#colMiddle p {
	margin: 0px;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	font-size: 1.2em;
	line-height: 1.6em;
	clear: both;
}
#rightSidebar p {
	padding: 0px;
	width: 100%;
	line-height: 1.4em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
}
#colMiddle   li    {
	font-size: 1.2em;
	line-height: 1.6em;
}
#colMiddle ul {
	margin-right: 0px;
	padding-right: 10px;
	margin-left: 12px;
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 10px;
	padding-left: 15px;
}
form {
	margin: 0px;
	padding: 0px;
}
#mainContainer #topContainer #colMiddle {
	float: left;
	width: 735px;
	margin-top: 20px;
	background-repeat: no-repeat;
	margin-right: 20px;
	background-color: #FFFFFF;
	margin-bottom: 20px;
	padding: 0px;
}
#colMiddle #contentTop {
	background-image: url(../images/bg-content-top.gif);
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	width: 715px;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
}
#colMiddle #contentBottom {
	background-image: url(../images/bg-content-bottom.gif);
	height: 10px;
	clear: both;
	float: left;
	width: 735px;
}
#colMiddle #leftSidebar {
	float: left;
	width: 470px;
	min-height: 250px;
}
#colMiddle #rightSidebar {
	float: right;
	width: 200px;
	background-color: #FFFFFF;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
.emailPrint {
	display: block;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
}
.emailPrint a {
	font-size: 0.9em;
	text-decoration: none;
	margin-right: 10px;
}
.emailPrint form {
	display: inline;
}

#footer  #bottomContainer {
	clear: both;
	margin-top: 10px;
	float: left;
	width: 750px;
	color: #000000;
}
#footer  #bottomContainer  a {
	display: inline;
	color: #AC3556;
}
#mainContainer #topContainer #colLeftMenu {
	float: left;
	width: 200px;
	margin-top: 18px;
	background-repeat: no-repeat;
	margin-left: 18px;
	margin-right: 20px;
}
#colLeftMenu ul {
	margin: 0px;
	list-style-type: none;
	font-size: 1.2em;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 12px;
	padding-left: 0px;
}
#colLeftMenu li {
	margin-top: 6px;
	margin-bottom: 6px;
	color: #000000;
}
#colLeftMenu a {
	text-decoration: none;
	color: #000000;
}
#topContainer a:hover {
	text-decoration: underline;
}
#footer #logo {
	float: left;
}
#header {
	float: left;
	width: 993px;
	height: 74px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #333333;
	border-left-color: #666666;
	padding-top: 10px;
	padding-bottom: 10px;
}
a {
	color: #AC3556;
	text-decoration: none;
}
a:hover  {
	text-decoration: none;
}
#leftSidebar  h3  {
	color: #AC3556;
	padding: 0px;
	font-size: 1.5em;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	font-weight: normal;
}
#rightSidebar h3 {
	font-size: 1.4em;
	margin-bottom: 10px;
}
#rightSidebar #q {
	margin-top: 4px;
	margin-bottom: 4px;
	width: 100px;
}

#logoContainer {
	float: left;
	margin: 10px;
}
#logoContainer img {
	float: left;
	padding-left: 8px;
}
#topNavbar {
	float: right;
	font-size: 1.2em;
	margin-top: 10px;
	margin-right: 20px;
}
#topNavbar a {
	color: #AC3556;
	text-decoration: none;
}
#searchContainer {
	clear: right;
	float: right;
	margin-top: 12px;
	width: 300px;
	text-align: right;
	margin-right: 20px;
}
#titleContainer {
	float: left;
	width: 450px;
	margin-left: 25px;
	font-size: 2em;
	margin-top: 5px;
}
#tagline {
	font-size: 0.6em;
	float: left;
	color: #AC3556;
	margin-top: 4px;
	text-align: center;
	display: block;
	width: 404px;
}
#colLeftMenu h2 {
	font-weight: normal;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	font-size: 1.4em;
	height: 40px;
}
#headerContainer {
	background-color: #FFFFFF;
	padding: 4px;
	width: 985px;
	color: #AC3556;
}
#rightSidebar   ul   {
	padding: 0px;
	list-style-type: none;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.carousel li {
	font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
	font-size: 12px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 20px;
	margin: 0px;
}
#buttonContainer {
	background-color: #FFFFFF;
	width: 380px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
#mainContainer #teasers {
	clear: both;
	float: left;
	width: 973px;
	background-color: #C8D0CA;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}
#teasers ul {
	list-style-type: none;
	height: 110px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 11px;
	background-image: url(../images/bg-teasers.gif);
	background-repeat: no-repeat;
}
#teasers li {
	display: block;
	float: left;
	width: 178px;
	height: 110px;
	margin-right: 10px;
}
#buttonContainer .prev {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #AC3556;
}
#buttonContainer .next {
	background-color: #FFFFFF;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 5px;
	color: #AC3556;
}
#mainContainer #footer {
	clear: both;
	float: left;
	width: 953px;
	background-color: #C8D0CA;
	padding-top: 0px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
}
#btnSearch {
	color: #AC3556;
	background-color: #FFFFFF;
	border: 1px solid #AC3556;
}
#footerText {
	padding: 10px;
	height: 250px;
	background-image: none;
	background-repeat: no-repeat;
	background-color: #FFFFFF;
	border-radius: 8px;
}
#footerText ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#footerText  .linkList {
	float: right;
	margin-left: 23px;
	width: 120px;
}
#footerText  a  {
	display: block;
	color: #333333;
	text-decoration: none;
	line-height: 1em;
	padding-top: 2px;
	padding-bottom: 2px;
}
#footerText a:hover {
	text-decoration: underline;
}
#footerText ul {
	margin-bottom: 5px;
}
#footerText  .linkList  .main {
	color: #AC3556;
	font-weight: bold;
}
#footerText  #copyright {
	float: left;
}
#footerText .homeList {
	float: left;
	margin-left: 0px;
}
#leftSidebar h4 {
	color: #AC3556;
	padding: 0px;
	font-size: 1.3em;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-weight: normal;
}
#rightSidebar li {
	line-height: 1.2em;
	margin-top: 0px;
	margin-bottom: 10px;
	text-decoration: none;
	color: #333333;
}#rightSidebar  .back {
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
}
#leftSidebar         li           {
	font-size: 1.2em;
}
.footnotes {
	font-size: 90%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #999999;
	margin-bottom: 20px;
}
#leftSidebar  li li {
	font-size: 1em;
}
#leftSidebar  ol ol {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 18px;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 0px;
	margin-left: 3px;
}
#leftSidebar ol {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.makeNormal {
	font-weight: normal;
}
.blackText {
	color: #333333;
}
.crimsonText {
	color: #AC3556;
}
.text11px {
	font-size: 11px;
	display: block;
	clear: both;
	float: left;
}
.allCaps {
	text-transform: uppercase;
}
#rightSidebar ol {
	margin-top: 10px;
	padding-top: 0px;
	margin-left: 0px;
	padding-left: 25px;
	margin-right: 0px;
	padding-right: 0px;
	color: #AC3556;
}
.top {
	text-decoration: underline;
	clear: both;
	float: right;
}
#frmEmailFriend {
	padding: 0px;
	margin-top: 0px;
	margin-right: 4px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#btnEmailFriend,#btnPrint {
	color: #AC3556;
	font-size: 10px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #FFFFFF;
	cursor:pointer;
	margin: 0px;
	padding: 0px;
	width: 78px;
}
#leftSidebar #news {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
#leftSidebar #news li {
	display: block;
	width: 98%;
	clear: both;
	float: left;
	min-height: 160px;
	margin-bottom: 10px;
}

#leftSidebar #news img {
	float: right;
	width: 150px;
	margin-left: 20px;
}
#leftSidebar #news .blankImage {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#leftSidebar #news p {
	clear: none;
}
#flag {
	float: right;
	margin-top: 15px;
}
#tblMember td {
	font-size: 1.2em;
}
.textSmaller {
	font-size: 70%;
	color: #666666;
}
#tblForums {
	margin-left: 10px;
}
#rightSidebar hr {
	margin-top: 20px;
	margin-bottom: 20px;
}
.clear {
	clear: both;
}
img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
#header #gSearch {
	padding: 1px;
	float: right;
	width: 300px;
	margin-right: 10px;
}
#searchContainer {
	margin-top: 0px;

}
.redText {
	color: #FF0000;
}
