@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
}
a, a:visited {
	text-decoration: underline;
	color: #CC3366;
}
a:hover {
	text-decoration: none;
}
td  {
	font-size: 1.2em;
	margin: 0px;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}
p  {
	font-size: 1.2em;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
form {
	margin: 0px;
	padding: 0px;
	font-size: 12px;
}

label {
	font-size: 1.1em;
}

input, select {
	background-color: #FFFFFF;
	width: 300px;
	font-size: 1.1em;
}
.input50 {
	width: 50px;
	font-size: 1.2em;
}
textarea {
	width: 300px;
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#btnUpdate  {
	background-color: #CCFF99;
	border: 1px solid #006600;
	font-weight: normal;
	width: 60px;
}
#frmUpdate  td, #frmAdd td {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
	background-color: #EFEFEF;
	padding-right: 2px;
	padding-left: 2px;
}
.smallText {
	font-size: 9px;
	color: #AC3575;
}
.required {
	font-size: 11px;
	color: #FF0000;
}

.largerText {
	font-size: 1.2em;
}
#showworkinfo, #showhomeinfo, #showonsite, #membershipdeclaration {
	width: 16px;
}
#gender, #dob, #doa, #doj, #dor, #ecp {
	width: 100px;
}
.redText {
	color: #FF0000;
}
.btnGo {
	background-color: #CCFF99;
	border: 1px solid #006600;
	font-weight: normal;
	width: 36px;
	height: 20px;
	font-size: 12px;
}
h1 {
	font-size: 1.6em;
}
.btnAdd {
	background-color: #CCFF99;
	border: 1px solid #006600;
	font-weight: normal;
	width: 120px;
}
.input400 {
	width: 400px;
	font-size: 1em;
}
#btnDelete {
	color: #FFFFFF;
	background-color: #FF0000;
	width: 150px;
}
#frmDelete {
	margin-top: 25px;
}

.input500 {
	width: 500px;
}
h1 {
	color: #8f8f8f;
	font-size: 2.4em;
	font-weight: normal;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 0px;
	margin: 0px;
	text-transform: uppercase;
}
h2 {
	color: #8f8f8f;
	font-size: 1.8em;
	font-weight: normal;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 0px;
	margin: 0px;
}
.input100 {
	width: 100px;
}
.normalText {
	font-weight: normal;
}
#frmUpdate .tdWhiteBg {
	background-color: #FFFFFF;
	border-bottom-style: none;
}
h2 {
	color: #666666;
}
h3 {
	color: #666666;
	padding: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#rightBar li {
	font-size: 12px;
}


.clear {
	clear: both;
}
.leftAlign {
	display: block;
	float: left;
}
#google_translate_element {
	float: left;
	margin-left: 25px;
}
.googleTranslateText {
	font-size: 11px;
	color: #666666;
	margin-left: 10px;
	float: left;
	font-weight: bold;
	background-color: #F2FFE6;
	padding: 2px;
	margin-top: 5px;
}
#rightBar {
	float: left;
	width: 400px;
	margin-left: 50px;
}
.input200 {
	width: 200px;
}
